{% extends "regore/base.html" %}
{% block extrahead %}
	     <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	{{ form.media|safe }}
	<script> $(document).ready(function () {
     	 $("#id-data").datepicker({ dateFormat: 'yy-mm-dd'}); });</script>

{% endblock %}
{% block title %}REPORT {{user.nome_cognome}} {% endblock %}
{% block content %}
<p>progetto:{{progetto_id}}</p>
<p>firma:{{firma}}</p>
<p>data:{{data_da}}</p>
<table>
{% for ore in selezione %}
    {% ifchanged ore.data %}
		<tr>
		<td>{{ore.data}}</td>
		<td>{{ore.progetto}}</td>
		<td>{{ore.ora_inizio}}</td>
		<td>{{ore.ora_fine}}</td>
		<td>{{ore.totale}}</td>
		<td>{{ore.note}}</td>
		</tr>
	{% else %}
		<tr>
		<td></td>
		<td>{{ore.progetto}}</td>
		<td>{{ore.ora_inizio}}</td>
		<td>{{ore.ora_fine}}</td>
		<td>{{ore.totale}}</td>
		<td>{{ore.note}}</td>
		</tr>
	{% endifchanged %}

{% endfor %}

</table>
<a href="{% url 'export_csv3' progetto_id data_da %}">Download CSV</a>
<h2>{{ user }}</h2>
{% endblock content %}
{% block content2 %}
{% endblock content2 %}
