{% extends "regore/base.html" %}
{% block content %}
	{% if validlink %}
		<p>Prego inserisci e conferma la nuova password </p>
		<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
			<table>
				<tr>
					<td>{{ form.new_password1.errors }}
					 <label for="id_neew_password1"> Nuova password: </label></td>
					<td>{{ form.new_password1 }}</td>
				</tr>
				<tr>
					<td>{{ form.new_password2.errors }}
					 <label for="id_neew_password2"> Conferma password: </label></td>
					<td>{{ form.new_password2 }}</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Cambia Password" /></td>
				</tr>

			</table>
		</form>
	{% else %}
		<h1>Reset password fallita!</h1>
		<p>La modifica della password non è riuscita. Forse la password è stata già usata? Per favore prova nuovamente.</p>
	{% endif %}

{% endblock %} 

