/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 50px 0 0 0;
	background: #000000; /*url(images/img03.jpg) repeat-x left top;*/
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10px;
	/*color: #649632;*/
}
/**
h1, h2, h3 {
	margin: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #649632;
}

h1 { font-size: 44px; }

h2 { font-size: 26px; }

h3 { }

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
	text-align: justify;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
}
caption {
 text-align: left;
 }
ul, ol { }

blockquote { }

a { color: #000000; }

a:hover { text-decoration: none; }

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }




/* Header

#header-wrapper {
	width: 880px;
	height: 147px;
	margin: 0 auto;
	border-left: 0px solid #FFFFFF;
	border-right: 0px solid #FFFFFF;
	border-top: 0px solid #FFFFFF;
}

#header {
	width: 884px;
	height: 50px;
	margin: 0 auto;
	background: #333333 url(images/img02_1.jpg) no-repeat left top;
}

 */

/* Page

#page {
	width: 840px;
	margin: 0 auto;
	padding: 30px 20px 0px 20px;
	background: #FFFFFF;
	border-left: 2px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
}
 */
/** LOGO 

#logo {
	height: 200px;
	background: url(images/nome.jpg) no-repeat left top;
	background-size:880px 147px;
	padding: 25px 0 0 20px;
}

/*#logo h1, #logo p {
	float: left;
	margin: 0;
	padding: 0 0 0 20px;
	line-height: normal;
}

#logo h1 { padding-top: 140px; }

#logo h1 a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
}

#logo h1 a:hover { text-decoration: underline; }

#logo p {
	padding: 165px 0 0 15px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	color: #B6ACA2;
}

*/



/* Content */
.title{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 16px;
	color: #F4A460;
}
/*.lista{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F4A460;
}*/
.div-table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
}

.div-table td, .div-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.div-table tr:nth-child(even){background-color: #f2f2f2;}

.div-table tr:hover {background-color: #ddd;}

.div-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
/*textarea{
     background: #FFFFFF;
     width: 100%;
}*/
/*#secondblock table, tr, td{
	color: #F4A460;
	table-layout: fixed;
	width: 100%;
	
	border-collapse: collapse;
	border: 1px solid #F4A460;

}*/
/* 